ul{
  margin:0;
  padding:0;
}
.home-header{
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #26a2ff;
  color:#fff;
  text-align:center;
}
.editBtn{
  background-color:#eee;
  color:#26a2ff;
  border:none;
}
.home-content{
  margin-top:-20px;
  padding:0 10px;
}
.collectionList{
  height:40px;
  line-height:40px;
  border-bottom:1px solid #ccc;
}
